.product_screen{
	padding: 3rem 10rem;
	
}

.prod_container{
	display:flex;

}
.selector{
	flex: 0 0 18%;
	border: 1px solid black;

}

.selector div{
	/*border-bottom: 1px solid black;*/

	padding: 1.5rem;
	font-size: 1.4rem;
	display: flex;
	justify-content: space-between;
}

.detail{
	padding: 0rem 2.5rem;
	flex: 0 0 30%;
}

.button_container{
	
}

.select_button{
	width: 100%;
	background-color: #000133;
	color: white;
	height: 5rem;
}